@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.password-toggle {
    position: relative;
}

.password-toggle .btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}